.header
  //width: 100%
  height: banner-height
  min-height: 450px;
  max-height: 450px;
  position: relative
  //border-bottom: 1px solid color-border
  @media mq-tablet
    min-height: 600px
    max-height: 700px

.Overlay
  position: absolute
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden
  z-index: 1

.Page-navigation
 z-index: 5

.Overlay-top
  bottom: auto

.Overlay-content
  position: relative
  margin: 0 auto
  position: relative
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15)
  white-space: nowrap
  overflow: hidden

.banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  //background: url(banner-url) center #000
  background-size: cover
  z-index: -1

.header-title
  //text-align: center
  //height: logo-size
  //vertical-align: center
  position: relative
  display: inline-block
  height: header-height
  //top: 50%
  //left: 0

.header-items
    display: inline-block
    vertical-align: top

$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  line-height: logo-size
  //letter-spacing: 2px

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px

#subtitle-wrap
  margin-top: subtitle-size

.Overlay-main
  position: absolute
  display: block
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: #002650
  background-image: url(/css/images/carousel/sub-bg-8.jpg)
  background-size: cover
  background-repeat: no-repeat
  filter: blur(15px)


.main-nav
  position: relative
  padding: 0 30px
  white-space: nowrap
  @media mq-tablet
    padding: 0 40px

.main-nav a
    font-weight: normal
    text-transform: none

.main-nav-overlay
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

$nav-link
  //float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 20px 10px
  &:hover
    opacity: 1

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 15px
  position: relative
  cursor: pointer

.main-nav-logo
  position: relative;
  display: inline-block;
  height: 60px;
  width: 61.82004px;
  margin-right: 20px;

.main-nav-logo i 
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;

.main-nav-link
  @extend $nav-link
  font-weight: normal
  letter-spacing: 1px
  @media mq-mobile
    display: inline-block

.main-nav-link-icon
  position: relative
  display: inline-block
  padding: 0 5px


#main-nav-toggle
  display: none
  &:before
    content: "\f015"
  @media mq-mobile
    display: block

#sub-nav
  float: right
  margin-right: -15px

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  position: absolute
  top: 15px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777