<header class="header">
  <div class="Overlay Page-navigation Overlay-top">
    <div class="Overlay-main"></div>
    <div class="Overlay-content">
      <nav class="main-nav">
          <a class="main-nav-logo" href="/"><i class="fa fa-<%- theme.custom_logo.image %> fa-2x"></i></a>
          <div class="header-items">
            <% for (var i in theme.menu){ %>
              <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>">
                <div class="main-nav-link-icon">
                  <i class="fa fa-<%- theme.menu_icons[i] %> fa-1x"></i>
                </div><%= _(i) %>
              </a>
            <% } %>
          </div>
      </nav>
    </div>
  </div>
</header>