
<% for (var obj = 0; obj < Carousel.length; obj++){ %>
    <div class="Pane Pane--backgroundTop Pane--full Home-gameBackgroundPane">
        <div class="Pane-backgroundContainer">
            <div style="background-image:url(/css/images/carousel/sub-bg-8.jpg);" class="Pane-background"></div>
        </div>
        <div class="Pane-container">
            <div class="Pane--adaptiveBeforeSpace">
                <h2 class="Pane-workheader sectionHead">
                <a class="headerlink" href="">
                    <span class="sectionHeadText"><%= Carousel[obj].title %></span>
                    <span class="sectionHeadLinikText"><%= Carousel[obj].linktitle %></span>
                    <span class="sectionHeadLinikIcon"><i class="fa fa-greater-than %> fa-1x"></i></span>
                </a>
                </h2>
                <div class="slide-grid-container">
                <div class="slideGrid">
                    <div class="slideGridRow">
                    <div class="slidegridRowCell">
                        <h3 class="slideGridRowTitle"><%= Carousel[obj].descropt %></h3>
                        <div class="gallery gallery--lowProfile is-constrained is-xs is-leftMax">
                        <div class="slideGridcontainer">
                            <div class="slideGrid-inner">
                                <% for (var i in Carousel[obj].CarouselImgs){ %>
                                    <div class="galleryCard slideGridGalleryItem">
                                        <div class="slideGridTileContainer">
                                            <a class="slideGridItemLink" href="">
                                                <div class="slidegridCell">
                                                    <img src="<%= Carousel[obj].CarouselImgs[i] %> "><img>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="gallery-scroll gallery-left">
                            <i class="fa fa-chevron-circle-left %> fa-2x"></i>
                        </div>
                        <div class="gallery-scroll gallery-right">
                            <i class="fa fa-chevron-circle-right %> fa-2x"></i>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<% } %>