
<!--  AD loop div -->
<div class="adcontent">
  <div class="slider-contaner">
    <ul class="slider">
      <li class="slider-item slider-item1"></li>
      <li class="slider-item slider-item2"></li>
      <li class="slider-item slider-item3"></li>
      <li class="slider-item slider-item4"></li>
      <li class="slider-item slider-item5"></li>
    </ul>
    <div class="focus-container">
      <ul class="floatfix"> 
        <li><div class="focus-item focus-item1"></div></li>
        <li><div class="focus-item focus-item2"></div></li>
        <li><div class="focus-item focus-item3"></div></li>
        <li><div class="focus-item focus-item4"></div></li>
        <li><div class="focus-item focus-item5"></div></li>
      </ul>
    </div>
  </div>
  <div class="Pane Pane--full Pane-BackgroundPane">
    <div class="Pane-BackgroundContainer">
      <div style="background-image:url(../../../assets/img/common/sub-bg-2.jpg)" class="Pane-Background"></div>
    </div>
  </div>
</div>